<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/img/Arrow.svg" (click)="GotoList()">
    </ion-buttons>
    <ion-title>Motor Delivery</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
  <div class="list_1">
    <ion-row>
      <ion-col>
        <h3>Available Riders</h3>
      </ion-col>
    </ion-row>
  </div>
  <ion-row class="pd_8">
    <ion-col size="2">
      <div class="pentagon1" style="background: url(assets/img/Clip.png);"></div>
      <img src="assets/img/white.svg" class="bg_uper_1">
    </ion-col>
    <ion-col size="6" class="b_list4">
        <p class="b_list1">Lorem Ipsum Dolar sit</p>
        <p class="b_list2"><span class="b_list3">$6</span>/delivery</p>
    </ion-col>
    <ion-col size="4">
      <p class="b_list5">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_Dull.svg">
        <span class="b_list6">(4.0)</span>
      </p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>From</span> 12:00 pm</p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>To</span> 04:00 pm</p>
    </ion-col>
    
  </ion-row>
  <ion-row class="b_list8  pd_8">
    <ion-col size="2">
      <div class="pentagon1" style="background: url(assets/img/Clip.png);"></div>
      <img src="assets/img/gray.svg" class="bg_uper_1">
    </ion-col>
    <ion-col size="6" class="b_list4">
        <p class="b_list1">Lorem Ipsum Dolar sit</p>
        <p class="b_list2"><span class="b_list3">$6</span>/delivery</p>
    </ion-col>
    <ion-col size="4">
      <p class="b_list5">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_Dull.svg">
        <span class="b_list6">(4.0)</span>
      </p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>From</span> 12:00 pm</p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>To</span> 04:00 pm</p>
    </ion-col>
  </ion-row>
  <ion-row class="pd_8">
    <ion-col size="2">
      <div class="pentagon1" style="background: url(assets/img/Clip.png);"></div>
      <img src="assets/img/white.svg" class="bg_uper_1">
    </ion-col>
    <ion-col size="6" class="b_list4">
        <p class="b_list1">Lorem Ipsum Dolar sit</p>
        <p class="b_list2"><span class="b_list3">$6</span>/delivery</p>
    </ion-col>
    <ion-col size="4">
      <p class="b_list5">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_Dull.svg">
        <span class="b_list6">(4.0)</span>
      </p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>From</span> 12:00 pm</p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>To</span> 04:00 pm</p>
    </ion-col>
    
  </ion-row>
  <ion-row class="b_list8  pd_8">
    <ion-col size="2">
      <div class="pentagon1" style="background: url(assets/img/Clip.png);"></div>
      <img src="assets/img/gray.svg" class="bg_uper_1">
    </ion-col>
    <ion-col size="6" class="b_list4">
        <p class="b_list1">Lorem Ipsum Dolar sit</p>
        <p class="b_list2"><span class="b_list3">$6</span>/delivery</p>
    </ion-col>
    <ion-col size="4">
      <p class="b_list5">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_colored.svg">
        <img src="assets/img/Star_Dull.svg">
        <span class="b_list6">(4.0)</span>
      </p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>From</span> 12:00 pm</p>
      <p class="b_list7 SFUIText-HeavyItalic"><span>To</span> 04:00 pm</p>
    </ion-col>
  </ion-row>

</ion-content>
