<ion-header style="height: 60px" [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/img/Menu.svg" (click)="toggleMenu()" />
    </ion-buttons>
    <ion-title [class.globe_title]="plateformCheck == 'ios'"
      >Notifications</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="notifications?.length >0">
   
      <div class="clear_div">
        <p class="clear_p" (click)="clearNotifcation()">Clear all</p>
      </div>
  
    <ion-row
      class="pdtop"
      *ngFor="let notification of notifications"
      (click)="accptOffer(notification)"
    >
      <ion-col size="2" class="notify_image_main">
        <img src="{{base_url}}{{notification.sender_img_url}}" />
      </ion-col>
      <ion-col class="notify_content" size="10">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <p class="notfy_title">{{notification.sender_name}}</p>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <p class="notify_time">{{notification.time_added}}</p>
          </ion-col>
          <ion-col size="12" class="ion-text-left notify_desc_main">
            <p class="notify_desc">{{notification.content}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="notificationError == null">
      <ion-col class="ion-text-center">
        <h2>{{dataError}}</h2>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-container *ngIf="notifications?.length < 1 ">
  <ion-row>
    <ion-col class="ion-text-center">
        <h2>No notification found</h2>
    </ion-col>
  </ion-row>
</ng-container>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
