<ion-header no-border [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar class="bg_header">
    <ion-buttons [class.back_button]="plateformCheck == 'ios'" slot="start">
      <img src="assets/img/Arrow.svg" (click)="back()" />
    </ion-buttons>
    <ion-title class="alura">
      <img src="{{profileImg}}" class="img_avatar" />
      <span style="font-size: 17px" class="imgtitle">{{sender_name}}</span>
    </ion-title>
    <ion-button
      color="secondary"
      shape="round"
      slot="end"
      class="send_price"
      (click)="sendOffer()"
      *ngIf="btnSendPrice"
      >Send Price</ion-button
    >
  </ion-toolbar>
</ion-header>
<ion-content #IonContent padding>
  <!--<ion-card class="card_div">
    <ion-card-content class="chatDivHeight">-->
  <ion-list>
    <div *ngFor="let chat of msgList; let i = index; ">
      <ion-row *ngIf="chat.date">
        <ion-col>
          <ion-text>{{chat.date}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chat.userId == User">
        <ion-col
          class="right"
          no-padding
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}"
        >
          <div class="imageAvatarRight">
            <div class="imageAvatarBottom">
              <!--<ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div>
                <ion-img [src]="chat.userAvatar"></ion-img>
              </ion-avatar>-->
            </div>
            <ion-label color="light">
              <div
                class="chatDiv"
                [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) &&
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}"
              >
                <p class="reciver" text-wrap padding>{{chat.message}}</p>
              </div>
            </ion-label>
            <span class="lefttime">{{chat.time }} </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chat.userId == toUser">
        <ion-col
          class="left"
          no-padding
          [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}"
        >
          <div class="imageAvatarLeft">
            <span class="righttime">{{chat.time }} </span>
            <ion-label color="light">
              <div
                class="chatDiv"
                [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) &&
              (msgList[i-1] && msgList[i-1].userId == chat.userId)),
              'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
              'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}"
              >
                <p class="sender" text-wrap padding>{{chat.message}}</p>
                <!--<div class="corner-parent-left">
                  <div class="corner-child-left">

                  </div>
                </div>-->
              </div>
            </ion-label>
            <div class="imageAvatarBottom">
              <!-- <ion-icon class="imageAvatarBottomIcon" name="add" expand="icon-only" color="success"></ion-icon> -->
              <!--<ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                <div class="imageAvatarBottomIcon">
                  <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                </div>
                <ion-img [src]="chat.userAvatar"></ion-img>
              </ion-avatar>-->
            </div>
          </div>
        </ion-col>
      </ion-row>
      <!--<ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])">
        <ion-col>
          <ion-text>{{chat.time}}</ion-text>
        </ion-col>
      </ion-row>-->
    </div>
  </ion-list>
  <!--</ion-card-content>
</ion-card>-->
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=" sendMsg()">
      <ion-icon name="send" expand="icon-only"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

  <ion-row *ngIf="loader">
    <ion-col no-padding class="loading-col">
      <div class="imageAvatarRight">
        <div class="imageAvatarBottomLoader">
          <!--<ion-avatar class="avatar">
            <div class="imageAvatarBottomIcon">
              <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
            </div>
            <ion-img src="assets/img/chat/chat5.jpg"></ion-img>
          </ion-avatar>-->
        </div>
        <ion-label>
          <div class="chatDivLoader">
            <ion-spinner name="dots" color="light"></ion-spinner>
            <!-- <ion-img src="../../assets/chat/loader.gif"></ion-img> -->
            <!-- <p text-wrap padding> {{paramData.name || 'Pam'}} is typing...</p> -->
            <div class="corner-parent-right">
              <div class="corner-child-right"></div>
            </div>
          </div>
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer translucent>
  <ion-item class="chat" lines="none">
    <ion-icon
      slot="end"
      name="send"
      expand="icon-only"
      (click)="sendMsg()"
      class="footerIcon"
    ></ion-icon>
    <ion-input
      class="input-box"
      type="text"
      placeholder="Type your message here"
      [(ngModel)]="user_input"
      (keypress)="userTyping($event)"
    ></ion-input>
  </ion-item>
</ion-footer>
