<ion-header [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <img src="assets/img/Menu.svg" (click)="toggleMenu()" /> -->
    </ion-buttons>
    <ion-title [class.globe_title]="plateformCheck == 'ios'"
      >Edit Profile</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="bys">
    <ion-col size="3" class="ion-text-center"> </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ng-container *ngIf="profileImage == '' || profileImage == undefined">
        <img src="assets/img/place_holder.svg" />
        <img
          src="assets/img/Edit_button.svg"
          class="btn_edit_profile"
          (click)="uploadProfile()"
        />
      </ng-container>
      <ng-container *ngIf="profileImage">
        <img src="{{profileImage}}" class="solid_img"  (error)="handleImgError($event, userIMG)"/>
        <img
          src="assets/img/Edit_button.svg"
          class="btn_edit_profile"
          (click)="uploadProfile()"
        />
      </ng-container>
    </ion-col>

    <!-- ghana card image here -->
    
    <ion-col size="12">

    <ion-row>
      <ion-col>
        <div
          *ngIf="ghanacardImage =='' || ghanacardImage ==undefined"
          style="
            border-radius: 10px;
            width: 100%;
            height: 150px;
            background: #f7f8fa;
            border: 1px dashed #d4dce1;
          "
          (click)="uploadProfileGhana()"
        >
          <ion-row style="margin-top: 45px">
            <ion-col style="text-align: center">
              <img
                src="assets/img/plusblack.png"
                style="height: 20px; width: 20px"
              />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <p style="font-size: 13px; color: #b0b0b0">Ghana Card</p>
            </ion-col>
          </ion-row>
        </div>
        <img
          style="width: 100%; border-radius: 10px; height: 150px"
          (click)="uploadProfileGhana()"
          *ngIf="ghanacardImage"
          src="{{ghanacardImage}}"
        />
      </ion-col>
    </ion-row>

    <span *ngIf="ghancardError" class="error ion-padding">
      Ghana Card required.
    </span>
  </ion-col>

    <!-- ghana card image end here -->


    <ion-col size="3" class="ion-text-center"> </ion-col>
    <ion-col size="12">
      <ion-textarea
        rows="6"
        placeholder="About"
        [(ngModel)]="About"
        class="list_3"
        (ionBlur)="validateForm()"
      >
      </ion-textarea>
      <span *ngIf="AboutError" class="error ion-padding">
        About is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-input
        placeholder="First name"
        class="input_list ot_auto"
        [(ngModel)]="firstName"
        (ionBlur)="validateForm()"
      ></ion-input>
      <span *ngIf="firstNameError" class="error ion-padding">
        First name is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-input
        placeholder="Last name"
        class="input_list ot_auto"
        [(ngModel)]="lastName"
        (ionBlur)="validateForm()"
      ></ion-input>
      <span *ngIf="lastNameError" class="error ion-padding">
        Last name is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-input
        placeholder="Email"
        class="input_list ot_auto"
        [(ngModel)]="Email"
        (ionBlur)="validateForm()"
        readonly=""
      ></ion-input>
      <span *ngIf="EmailError" class="error ion-padding">
        Email is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-input
        placeholder="Phone"
        class="input_list ot_auto"
        [(ngModel)]="phone"
        (ionBlur)="validateForm()"
      ></ion-input>
      <span *ngIf="phoneError" class="error ion-padding">
        Phone is required.
      </span>
    </ion-col>

    <ion-col size="12">
      <ion-input
        placeholder="Works"
        class="input_list ot_auto"
        [(ngModel)]="Works"
        (ionBlur)="validateForm()"
      >
      </ion-input>
      <span *ngIf="WorksError" class="error ion-padding">
        Works is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-select
        placeholder="Language"
        [(ngModel)]="Language"
        (ionBlur)="validateForm()"
      >
        <ion-select-option
          value="{{p.languages_id}}"
          *ngFor="let p of languages; let i = index"
          >{{p.name}}
        </ion-select-option>
      </ion-select>
      <span *ngIf="LanguageError" class="error ion-padding">
        Language is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-select
        [(ngModel)]="Lives"
        placeholder="Country"
        (ionBlur)="validateForm()"
      >
        <ion-select-option
          value="{{p.id}}"
          *ngFor="let p of countries; let i = index"
          >{{p.name}}</ion-select-option
        >
      </ion-select>
      <span *ngIf="LivesError" class="error ion-padding">
        Country is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-select
        placeholder="currencies"
        [(ngModel)]="Currencies"
        placeholder="Currencies"
        (ionBlur)="validateForm()"
      >
        <ion-select-option
          value="{{p.currencies_id}}"
          *ngFor="let p of currencies; let i = index"
          >{{p.name}} - ({{p.symbol}})</ion-select-option
        >
      </ion-select>
      <span *ngIf="CurrencyError" class="error ion-padding">
        Currency is required.
      </span>
    </ion-col>
    <ion-col size="12" style="display: flex; justify-content: space-evenly">
      <label
        >Banking details
        <span
          (click)="addBank()"
          style="
            background: #c4932f;
            border: 1px solid white;
            border-radius: 27px;
            padding: 2px 9px;
            color: white;
            font-size: 16px;
            font-weight: 400;
          "
          >+</span
        ></label
      >
    </ion-col>
    <ng-container *ngFor="let accounts of accountDetails;let i = index">
      <ion-col size="12">
        <label
          >Account {{i+1}}
          <span
            *ngIf="i!=0"
            (click)="removeBank(i)"
            style="
              background: #c42f2fe8;
              border: 1px solid white;
              border-radius: 27px;
              padding: 2px 9px;
              color: white;
              font-size: 16px;
              font-weight: 400;
            "
            >-</span
          ></label
        >
        <ion-input
          placeholder="Account Title"
          class="input_list ot_auto"
          [(ngModel)]="accounts.accountTitle"
          (ionBlur)="validateForm()"
        ></ion-input>
        <ng-container *ngIf="i==0">
          <span *ngIf="accountTitleError" class="error ion-padding">
            Account Title is required.
          </span>
        </ng-container>
      </ion-col>
      <ion-col size="12">
        <ion-input
          placeholder="Account Name"
          class="input_list ot_auto"
          [(ngModel)]="accounts.accountName"
          (ionBlur)="validateForm()"
        ></ion-input>
        <ng-container *ngIf="i==0">
          <span *ngIf="accountNameError" class="error ion-padding">
            Account Title is required.
          </span>
        </ng-container>
      </ion-col>
      <ion-col size="12">
        <ion-input
          placeholder="Account Number"
          class="input_list ot_auto"
          [(ngModel)]="accounts.accountNumber"
          (ionBlur)="validateForm()"
        ></ion-input>
        <ng-container *ngIf="i==0">
          <span *ngIf="accountNumberError" class="error ion-padding">
            Account Number is required.
          </span>
        </ng-container>
      </ion-col>
    </ng-container>
  </ion-row>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-button
        color="primary"
        expand="block"
        shape="round"
        (click)="submitForm()"
        >Update</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
