ion-toolbar {
    padding: 0em 0em 0 0;
    --background: #c4932f;
}

ion-toolbar.ios {
    margin-top: 6px;
}

ion-header.md.header-md.header-collapse-none.hydrated{
    padding-top: 0;
}

@media only screen and(min-height : 800px) {
    ion-toolbar {
        padding: 0em 0em 0px 0;
        --background: #c4932f;
    }
}

ion-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-left: 0px;
}
ion-button {
    --padding-bottom: 1.5em;
    --padding-top: 1.5em;
    --box-shadow: none;
    text-transform: capitalize;
}
ion-content {
    --background: #f7f8fa;
}
.mleft {
    position: relative;
    left: 10px;
}

.contentBg {
    --background: #2f517c; /* fallback for old browsers */
    --background: -webkit-linear-gradient(to bottom, #2f517c, #56b4d3); /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(
        to bottom,
        #2f517c,
        #56b4d3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0 !important;
    --padding-bootm: 0 !important;
}

.onlineOffline_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    // background-color: ;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0;
    border: 1.5px solid white;
}
.UserimgSection {
    position: relative;
}

.userBadge {
    border-radius: 90px;
    width: 24px;
    height: 24px;
    background: #fff;
    color: #000;
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    position: absolute;
    top: 2.6em;
}

.usernameSection {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 15px;
}
.descText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: #000;
    font-size: 14px;
    margin: 0px;
}
ion-img {
    width: 90%;
    height: 90%;
    border: 1px solid #fff;
}
.listSection {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 97%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.borderBottomLine {
    display: block;
    width: 100%;
    position: absolute;
    //  border-bottom: 1px solid #2e2e2e;
    height: 100%;
    left: 0%;
}
.lastSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 73%;
    padding-top: 2px;
}
.fontSize {
    font-size: 30px;
}
h5 {
    margin-top: 12px;
}
ion-note {
    font-size: 14px;
}
.bg_img {
    background: #000;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.header_text {
    font-size: 35px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.num {
    font-size: 31px;
    background: #8d8d8d;
    color: #fff;
    border-radius: 50%;
    padding: 4px 0px;
    width: 51px;
    height: 50px;
}
.both_pad {
    padding: 0px 1em;
}
.num_div {
    position: relative;
    top: 0.3em;
}
.query {
    font-size: 18px;
    color: #000;
}
.chk {
    position: relative;
    top: -4px;
    left: 5px;
    color: #8d8d8d;
    font-size: 13px;
}
ion-checkbox {
    --border-width: 1px;
    --border-radius: 5px;
    --background-checked: #bebebe;
    --checkmark-color: #fff;
    --border-color-checked: #bebebe;
}
.b_botom {
    border-bottom: 0.1px solid #bebebe;
}
.subtitle {
    color: #8d8d8d;
    width: 100%;
}

.bg_grey {
    background: #e3e3e3;
    text-align: center;
    padding: 3em 0em;
    border-radius: 10px;
}
.white {
    color: #fff;
    font-size: 37px;
    font-weight: bold;
}
h5 {
    //font-family: "Allura-Regular" !important;
    color: #1a6bbe;
    font-size: 18px;
    margin-bottom: 5px;
}

ion-avatar {
    margin-right: 0.5em;
}
ion-item {
    --ion-background-color: #fff;
}
ion-list {
    background: transparent;
}
.not_found {
    color: #969696;
    width: 100%;
    margin-top: 17%;
    font-size: 18px;
}
