<ion-header [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar>
    <ion-buttons class="mf" [class.menu_headers]="plateformCheck == 'ios'"  slot="start">
      <img src="assets/img/Menu.svg" class="mleft" (click)="toggleMenu()">
    </ion-buttons>
    <ion-title [class.globe_title]="plateformCheck == 'ios'">Messages</ion-title>
    
   </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="chatData?.length == 0">
    <ion-col class="ion-text-center">
        <p class="not_found" >No chat found!</p>
    </ion-col>
  </ion-row>
  <ion-list  class="list_top" *ngIf="chatData?.length > 0" no-padding >
    <ion-item *ngFor="let chat of chatData" (click)="Detail(chat.user_id,chat.profile_image,chat.name,chat.booking_check)" lines="none">
      <div class="borderBottomLine"></div>
      <div class="listSection">
        <div class="UserimgSection">
          <ion-avatar class="chatImage" slot="start">
            <ion-img src="{{base_url}}{{chat.profile_image}}"></ion-img>
            <!--<span class="onlineOffline_icon" [ngStyle]="{'background-color':(chat.status === 'online'? '#4cd137' : '#c23616')}"></span>-->
          </ion-avatar>
        </div>
        <div class="usernameSection" padding-start padding>
          <h5 class="alura">
           <!--<ion-icon *ngIf="chat.group" name="people" color="medium"></ion-icon>--> 
           <!-- <ion-icon name="microphone" *ngIf="chat.broadcast" color="medium"></ion-icon>-->
             {{chat.name}}
            </h5>
       <p class="descText alura" no-margin no-padding>{{chat.message}}</p>
        </div>
      </div>
      <!--div slot="end" class="lastSection">
         <ion-note *ngIf="chat.badge || !chat.time" class="sendTime">{{chat.sendTime}}</ion-note>
         <ion-badge slot="end" class="userBadge" *ngIf="chat.badge">{{chat.badge}}</ion-badge>
          <ion-note slot="end" *ngIf="chat.time">{{chat.time}}</ion-note>
      </div-->
      
    </ion-item>
  </ion-list>
</ion-content>
