ion-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
}
ion-content {
    // --background: #f9f9f9;
}
ion-toolbar {
    padding: 0.8em 0.1em 0 0;
    --background: #c4932f;
}

.div-button-outer{
    height: 11px;
    width: 11px;
    border: 1px solid #c4932f;
    border-radius: 50%;
    position: relative;
    top: -7px;
    left: 9px;
}
.activeRadio{
    background: #c4932f;
}
 
.method{
    font-size: 22px;
    font-family: SFUIText-HeavyItalic;
    margin-left: 18px;
    color: #464646;
}
.methodAmount{
    font-size: 22px;
    font-family: SFUIText-HeavyItalic;
    margin-left: 2px;
    color: #c4932f;
}
.classh6{
    margin: 5px;
    font-size: 17px;
   
}
.divClass{
    font-size: 13px;
    font-family: VarelaRound-Regular;
    color: #C4932F;
    padding: 0px 35px 27px 20px;
}
.footer{
    height: 100px;
    width: 100%;
    position: absolute;
}
.btn{
    width: 80%;
    margin-left: 10%;
    --background:#1A6BBE ;
    font-size: 11px;
}
.btnActive{
    --background:#35be1a ;
}






.params {
    padding: 5px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  
    & > label {
      margin: 5px 10px;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      width: 150px;
  
      & > * {
        display: block;
      }
  
      & > span {
        margin-bottom: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  
      & > input,
      & > select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 4px;
        border: 1px solid #999;
        background-color: #fff;
        border-radius: 0;
        color: #000;
      }
    }
  }
  
  .example {
    margin: 5px;
    display: flex;
    flex-direction: row;
  
    & > .title {
      width: 250px;
      align-items: center;
      display: inherit;
    }
  
    & > .demo {
      flex: 1 0 0;
  
      & > * {
        margin: 1px;
      }
    }
  }
  



#angularpaystack {
   
    background: #c4932f !important;
    padding: 21px !important;
    border-radius: 17px !important;
    color: white !important;
    font-size: 17px !important;
    font-weight: 800 !important;
    display: flex;
    justify-content: center;
}
  // ////////////////////////////////////////////// start card 
.active_card{
    // border: 4px solid #c4932f;
    // color: black;
}
  .main-form{
    padding: 22px;
    display: grid;
    grid-gap: 13px;
    border-radius: 12px;
    font-weight: 500;
}
.input_con_form{
    display: grid;
}
.mini_main_form{
  
    display: grid;
    justify-content: center;
    grid-gap: 14px;
 
}
 
.form_input{
    width: 100%;
    height: 39px;
    border: 1px solid #b6afaf;
    padding: 11px 12px !important;
    border-radius: 28px;
}
.d_form{
    display: grid;
    grid-template-columns: 67% 30%;
    grid-gap: 8px;
}
.form_submit{
    padding: 7px 25px;
    background: #9b98f0;
    color: #fbfbfb;
}
.form_btn_div{
    display: grid;
    justify-content: center;
    padding: 20px;
}

.error_form{
    border: 1px solid red;
}
.list_1{
    padding: 0em 1em;
}
.list_1 h3{
    margin: 0px;
    margin-top: 0.5em;
}
.upload_images{
    color:#C4932F;
    font-size: 12px;
    margin: 5px 0px;
}
.left_4{
    margin-left:0.7em !important;
}
.list_2{
    text-align: center;
    background: #F7F8FA;
    border: 1px dashed #D4DCE1;
    border-radius: 10px;
    padding: 5.5em 0em;
   // padding: 25% 0em 23% 0em;
}
.list_2 p{
    color: #d2d6d8;
}
.error{
    color:red;
}

  