<ion-header *ngIf="showSlide == 'no'" [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar>
    <ion-buttons [class.back_button]="plateformCheck == 'ios'" slot="start">
      <img src="assets/img/Arrow.svg" (click)="goToHome()" />
    </ion-buttons>
    <ion-title [class.globe_title]="plateformCheck == 'ios'"
      >List your car</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content  *ngIf="showSlide == 'no'">
  <div class="list_1">
    <ion-row>
      <ion-col>
        <p style="font-size: 13px; margin: 1em 0em 1em 0em">
          Enter your info exactly as it appears on your license so we can verify
          your eligibility to drive.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div
          *ngIf="document_one =='' || document_one ==undefined"
          style="
            border-radius: 10px;
            width: 100%;
            height: 150px;
            background: #f7f8fa;
            border: 1px dashed #d4dce1;
          "
          (click)="showPopup(1)"
        >
          <ion-row style="margin-top: 45px">
            <ion-col style="text-align: center">
              <img
                src="assets/img/plusblack.png"
                style="height: 20px; width: 20px"
              />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align: center">
              <p style="font-size: 13px; color: #b0b0b0">License</p>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="document_one" (click)="previewImage()" class="view_btn">
          <p>View</p>
        </div>
        <img
        *ngIf="document_one"
        style="width: 100%; border-radius: 10px; height: 150px"
        (click)="showPopup(1)"
       
        src="{{document_one}}"
      />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input
          placeholder="License Plate"
          [(ngModel)]="LicensePlate"
          class="input_list"
          (keyup)="checkingLiNo()"
          (ionBlur)="checkingLiNo()"
          (ionBlur)="validateForm()"
        >
        </ion-input>
        <span *ngIf="LicensePlateUnique" class="error ion-padding">
          License Plate already exists.
        </span>
        <span *ngIf="LicensePlateError" class="error ion-padding">
          License Plate is required.
        </span>
      </ion-col>
    </ion-row>

    <!--


    <ion-row>
      <ion-col>
        <p class="upload_images">Upload Images</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="list_2" (click)="showPopup(1)"
            *ngIf="document_one =='' || document_one ==undefined">
            <img src="assets/img/plus.svg">
          </ion-col>
          <ion-col size="12" class="real_image" (click)="showPopup(1)" *ngIf="document_one">
            <img src="{{document_one}}">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="list_2" (click)="showPopup(2)"
            *ngIf="document_two =='' || document_two ==undefined">
            <img src="assets/img/plus.svg">
          </ion-col>
          <ion-col size="12" class="real_image" (click)="showPopup(2)" *ngIf="document_two">
            <img src="{{document_two}}">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="list_2" (click)="showPopup(3)"
            *ngIf="document_three =='' || document_three ==undefined">
            <img src="assets/img/plus.svg">
          </ion-col>
          <ion-col size="12" class="real_image" (click)="showPopup(3)" *ngIf="document_three">
            <img src="{{document_three}}">
          </ion-col>
        </ion-row>
      </ion-col>
      <span *ngIf="document_oneError" class="error ion-padding">
        Document is required.
      </span>
      <span *ngIf="document_twoError" class="error ion-padding">
        Document is required.
      </span>
      <span *ngIf="document_threeError" class="error ion-padding">
        Document is required.
      </span>
    </ion-row>




    <ion-row>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="list_2" (click)="showPopup(6)"
            *ngIf="document_six =='' || document_six ==undefined">
            <img src="assets/img/plus.svg">
          </ion-col>
          <ion-col size="12" class="real_image" (click)="showPopup(6)" *ngIf="document_six">
            <img src="{{document_six}}">
          </ion-col>

        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="list_2" (click)="showPopup(7)"
            *ngIf="document_seven =='' || document_seven ==undefined">
            <img src="assets/img/plus.svg">
          </ion-col>
          <ion-col size="12" class="real_image" (click)="showPopup(7)" *ngIf="document_seven">
            <img src="{{document_seven}}">
          </ion-col>

        </ion-row>
      </ion-col>
      <span *ngIf="document_sixError" class="error ion-padding">
        Document is required.
      </span>
      <span *ngIf="document_sevenError" class="error ion-padding">
        Document is required.
      </span>
    </ion-row>



     -->

    <!-- <ion-row>
      <ion-col>
        <p>Car Class</p>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <ion-select
          placeholder="Comfort Type"
          [(ngModel)]="comfort"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.car_classes_id}}"
            *ngFor="let p of comfortArray; let i = index"
            >{{p.name}}
          </ion-select-option>
        </ion-select>
        <span *ngIf="SeatsError" class="error ion-padding">
          Comfort is required.
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-select
          placeholder="Car Type"
          [(ngModel)]="carType"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.car_types_id}}"
            *ngFor="let p of carTypeArray; let i = index"
            >{{p.name}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input
          type="tel"
          placeholder="Mobile Number"
          [(ngModel)]=" mobileNum"
          class="input_list"
          (ionBlur)="validateForm()"
        >
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-select
          placeholder="No. of seats"
          [(ngModel)]="Seats"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.veh_seats_id}}"
            *ngFor="let p of seats; let i = index"
            >{{p.seat_no}}
          </ion-select-option>
        </ion-select>
        <span *ngIf="SeatsError" class="error ion-padding">
          Seat is required.
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea
          rows="6"
          placeholder="Description"
          [(ngModel)]="Description"
          class="list_3"
          (ionBlur)="validateForm()"
        ></ion-textarea>
        <span *ngIf="DescriptionError" class="error ion-padding">
          Description is required.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          placeholder="No. of Door"
          [(ngModel)]="Door"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.veh_doors_id}}"
            *ngFor="let p of doors; let i = index"
            >{{p.door_no}}
          </ion-select-option>
        </ion-select>
        <span *ngIf="DoorError" class="error ion-padding">
          Door is required.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          placeholder="Gas"
          [(ngModel)]="Gas"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.fuel_type_id}}"
            *ngFor="let p of fuel_type; let i = index"
            >{{p.name}}
          </ion-select-option>
        </ion-select>
        <span *ngIf="GasError" class="error ion-padding">
          Fuel Type is required.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          placeholder="Gear Type"
          [(ngModel)]="GearType"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.gear_type_id}}"
            *ngFor="let p of gear_type; let i = index"
            >{{p.name}}
          </ion-select-option>
        </ion-select>
        <span *ngIf="GearTypeError" class="error ion-padding">
          Gear Type is required.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          placeholder="Convertable"
          [(ngModel)]="Convertable"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.engine_type_id}}"
            *ngFor="let p of roof_type; let i = index"
            >{{p.name}}
          </ion-select-option>
        </ion-select>
        <span *ngIf="ConvertableError" class="error ion-padding">
          Roof Type is required.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          placeholder="No. of wheels"
          [(ngModel)]="wheels"
          (ionBlur)="validateForm()"
        >
          <ion-select-option
            value="{{p.veh_wheels_id}}"
            *ngFor="let p of wheelss; let i = index"
            >{{p.wheels_no}}
          </ion-select-option>
        </ion-select>
        <span *ngIf="wheelsError" class="error ion-padding">
          wheel is required.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea
          rows="6"
          placeholder="Other features"
          [(ngModel)]="other_features"
          class="list_3"
          (ionBlur)="validateForm()"
        >
        </ion-textarea>
        <span *ngIf="other_featuresError" class="error ion-padding">
          other features is required.
        </span>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col>
      <span *ngIf="fieldMissing" class="error ion-padding ion-text-center">
        Please fill all the required fields.
      </span>
    </ion-col>
  </ion-row>
  <ion-row class="btn_footer">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-button
        color="primary"
        expand="block"
        shape="round"
        (click)="goToNext()"
        >Next</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>

<div
  [hidden]="popupHidden"
  style="
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 68%);
    position: absolute;
  "
>
  <div
    style="
      left: 10%;
      position: absolute;
      top: 40%;
      width: 80%;
      height: 160px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
    "
  >
    <ion-row>
      <ion-col
        style="padding-top: 10 px; padding-right: 10px; text-align: right"
      >
        <img
          style="height: 10px; width: 10px; margin-right: 4px; margin-top: 8px"
          src="assets/img/close_black.svg"
          (click)="hidePopup()"
        />
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: -4px">
      <ion-col (click)="CameraSelected()" style="text-align: center">
        <img style="height: 50px; width: 50px" src="assets/img/camera.svg" />
        <p>Camera</p>
      </ion-col>
      <ion-col (click)="GalerySelected()" style="text-align: center">
        <img style="height: 50px; width: 50px" src="assets/img/gallery.svg" />
        <p>Gallery</p>
      </ion-col>
    </ion-row>
  </div>
</div>

<div
    *ngIf="showSlide == 'yes'"
    [class.for_ios_pad]="plateformCheck == 'ios'"
    style="background: #000000f5; height: 100%"
  >
    <ion-row>
      <ion-col style="padding-left: 20px; padding-top: 20px">
        <img
          src="assets/img/close.png"
          (click)="closeModel()"
          style="height: 20px; width: 20px; padding: 3px; border-radius: 10px"
        />
      </ion-col>  
    </ion-row>

    <ion-row class="center">
      <ion-col class="slider_main_slide" style="display: flex">
        <ion-slides >
          <ng-container >
            <ion-slide >
              <img style="max-height: 80%;" src="{{document_one}}" class="s_img_slide" />
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-col>
    </ion-row>

  
</div>
