ion-toolbar {
    padding: 0.8em 0.1em 0 0;
    --background: #c4932f;
}
 

@media only screen and(min-height : 800px) {
    ion-toolbar {
        padding: 3em 0.1em 8px 0;
        --background: #c4932f;
    }
}

ion-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-left: 0px;
}

ion-content {
    --background: #f9f9f9;
}
.b_list1 {
    margin: 0px;
    font-size: 14px;
}
.inner_content {
    position: absolute;
    top: 35%;
    left: 14%;
    right: 0px;
}
h4,
h5 {
    margin: 0px;
}
h5 {
    color: #e5b654;
    font-size: 16px;
}
.list_item_main {
    margin: 0em 2em;
}

.list_item_child {
    background: #fff;
    border-radius: 20px;
    padding: 1em 1em;
    box-shadow: 0px 0px 6px 5px #00000008;
    margin-top: 1em;
}
.list_item_child img {
    padding-top: 8px;
}
