ion-toolbar {
    padding: 0.8em 0.1em 0 0;
    --background: #c4932f;
}

@media only screen and(min-height : 800px) {
    ion-toolbar {
        padding: 3em 0.1em 8px 0;
        --background: #c4932f;
    }
}

ion-title{
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.view_btn {
    position: absolute;

    right: 7px;
    top: -12px;
    color: #c4932f;
}
.error{
    color:red;
}
.real_image{
    padding:0px;
}
.real_image img{
    width: 100%;
    height: 100px;
}
.real_image_2{
    padding:0px;
}
.real_image_2 img{
    width: 150px;
    height: 164px;
}
.list_1{
    padding: 0em 1em;
}
.list_1 h3{
    margin: 0px;
    margin-top: 0.5em;
}
.left_4{
    margin-left:0.7em !important;
}
.input_list{
    border: 1px solid #d4dce1;
    background: #F7F8FA;
    border-radius: 28px;
    font-size: 13px;
    color: #000;
    --placeholder-color: #b2b2b4;
    --padding-bottom: 1.5em;
    --padding-start: 1.5em;
    --padding-top: 1.5em;
}
.upload_images{
    color:#C4932F;
    font-size: 12px;
    margin: 5px 0px;
}
.list_2{
    text-align: center;
    background: #F7F8FA;
    border: 1px dashed #D4DCE1;
    border-radius: 10px;
    padding: 2.5em 0em;
}
.list_9{
    text-align: center;
    background: #F7F8FA;
    border: 1px dashed #D4DCE1;
    border-radius: 10px;
    padding:3.7em 0em 2.5em 0em;
    height: 163px;
}
.list_9 p{
    
    color: #d2d6d8;
    font-size: 12px;
    margin: 0px;
    margin-top: 8px;
}
.list_3{
    background: #F7F8FA;
    border: 1px solid #D4DCE1;
    border-radius: 10px;
    color: #000;
    --placeholder-color: #b2b2b4;
    font-size: 13px;
    --padding-start: 1.5em;
    --padding-top: 1.5em;
}
.btn_footer{
    margin: 0.7em 0em 1em 0em;
}
ion-slide span{
    border: 1px solid #000;
    border-radius: 22px;
    padding: 8px 14px;
    margin-left: 1em;
}
.num{
    padding: 9px 10px !important;
}
.calender_slider{
    background: #F7F8FA;
    padding: 0.6em 0em;
}
.calender_slider_text{
    margin: 0px;
    position: relative;
    top: -2px;
    font-size: 18px;
}
ion-slide{
    margin-left: 0.6em;
}
ion-slide:first-child{
    margin-left: 0em;
}
ion-button{
    --padding-bottom: 1.5em;
    --padding-top: 1.5em;
    --box-shadow: none;
}
.btn_footer{
    padding: 0.5em 1em 1.2em 1em;
}
.info{
    background: #6E6D6D;
    padding: 0.4em 0em;
}
.info p{
    margin: 0px;
    color: #fff;
    font-size: 10px;
}
ion-select{
    background: #F7F8FA;
    border: 1px solid #D4DCE1;
    border-radius: 30px;
    --placeholder-color: #b2b2b4;
    color: #000;
    font-size: 13px;
    --padding-start: 1.5em;
    --padding-top: 1.5em;
    --padding-bottom: 1.5em;
    --padding-end: 1.5em;
}
.list_4{
    background: #F7F8FA;
    border: 1px solid #D4DCE1;
    border-radius: 12px;
    color: #D4DCE1;
    font-size: 13px;
}
.list_4 p{
    margin: 0px;
    color:#000;
}
.list_5{
    border-left: 1px dashed #c7c7c7;
    height: 48px;
    float: right;
    margin-top: 12px;
}
.list_6{
    margin-bottom: 2em !important;
}
.list_7{
    height: 10px;
    background: green;
    width: 10px;
    float: right;
    position: relative;
    right: 5px;
    border-radius: 50%;
    margin-top: 3px;
}
.list_8{
    height: 10px;
    background: red;
    width: 10px;
    float: right;
    position: relative;
    right: 5px;
    border-radius: 50%;
}
.activeState{
    background: #c4932f;
    border: 1px solid #c4932f !important;
    color: #fff !important;
}
.activeEndState{
    background: #c4932f;
    border: 1px solid #c4932f !important;
    color: #fff !important; 
}
