<ion-header [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/img/Menu.svg" (click)="toggleMenu()" />
    </ion-buttons>
    <ion-title [class.globe_title]="plateformCheck == 'ios'">Listed Cars</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="vehicles_list?.length >0">
    <ng-container *ngFor="let p of vehicles_list; let i = index">
      <!-- <ng-container *ngIf="p.vehicle_imgs"> -->
      <ion-row class="pd_bs" *ngIf="i % 2 === 0" (click)="goToDraftCar(p)">
        <ion-col style="margin-top: 8px" size="4" class="lambo">
          <!--   <h4>{{p.model_name}}</h4> -->
          <img src="assets/img/car_3.svg" />
          <!-- <img *ngIf="!p.vehicle_imgs" src="assets/img/car_3.svg" /> -->
          <!-- <img *ngIf="p.vehicle_imgs" src="{{base_url}}{{p.vehicle_imgs[0]}}" /> -->
        </ion-col>
        <ion-col class="trip_dates" size="4">
          <p style="color: red;">{{p.vehicle_have}}</p>


          <p *ngIf="p.vin_number" class="primary">VIN Number</p>
          <p *ngIf="p.vin_number">{{p.vin_number}}</p>
          <p class="blue">Trip Dates</p>
          <p class="primary">Start Date</p>
          <p>{{p.start_date | customeDate}}</p>
          <!-- <p class="primary">Charge per day</p>
          <p style="margin-bottom: 27px">{{symbol}} {{p.charge_per_day}}</p> -->
          <!-- <div class="give_rating list_issue" (click)="editDetail(p)">
              Edit Details
            </div> -->
        </ion-col>
        <ion-col class="trip_end_date" size="4">
          <p class="primary">End Date</p>
          <p>{{p.end_date | customeDate}}</p>

          <!-- <div *ngIf="p.admin_status == 'Approved' " class="give_rating-status-aproved list_issue">
              Approved
            </div>
            <div *ngIf="p.admin_status == 'Pending' " class="give_rating-status-panding list_issue">
              Pending
            </div> -->
        </ion-col>
      </ion-row>

      <ion-row class="pd_bs bg_grey" *ngIf="i % 2 != 0" (click)="goToDraftCar(p)">
        <ion-col style="margin-top: 8px" size="4" class="lambo">
          <!-- <h4>{{p.model_name}}</h4> -->
          <!-- <img src="{{base_url}}{{p.vehicle_imgs[0]}}"> -->

          <img src="assets/img/car_3.svg" />
          <!-- <img *ngIf="!p.vehicle_imgs" src="assets/img/car_3.svg" />
          <img *ngIf="p.vehicle_imgs" src="{{base_url}}{{p.vehicle_imgs[0]}}" /> -->
        </ion-col>
        <ion-col class="trip_dates" size="4">
          <p style="color: red;">{{p.vehicle_have}}</p>

          <p class="blue">Trip Dates</p>
          <p class="primary">Start Date</p>
          <p>{{p.start_date | customeDate}}</p>
          <!-- <p class="primary">Charge per day</p>
          <p style="margin-bottom: 27px">{{symbol}} {{p.charge_per_day}}</p> -->
          <!-- <div class="give_rating list_issue" (click)="editDetail(p)">
              Edit Details
            </div> -->
        </ion-col>
        <ion-col class="trip_end_date" size="4">
          <p class="primary">End Date</p>
          <p>{{p.end_date | customeDate}}</p>

          <!-- <div *ngIf="p.admin_status == 'Approved' " class="give_rating-status-aproved list_issue">
              Approved
            </div>
            <div *ngIf="p.admin_status == 'Pending' " class="give_rating-status-panding list_issue">
              Pending
            </div> -->
        </ion-col>
      </ion-row>
      <!-- </ng-container> -->
    </ng-container>
  </ng-container>
  <ng-container *ngIf="vehicles_list?.length == 0">
    <ion-row>
      <ion-col class="ion-text-center">
        <h2>Data Not Found!</h2>
      </ion-col>
    </ion-row>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>