// ion-content {
//     -–color: #fff;
//     -–background: none;
//     background: url(…/…/assets/img/Background.png) no-repeat 0 0;
//     background-size: cover;
// }

// ion-content {
//     // --background: url("assets/imgs/bgS.svg") 0 0/100% 100% no-repeat;

//     --background: url("assets/imgs/bg.png") 0 0/100% 100% no-repeat;

//     // --background: black;
// }

 
ion-content {
    --color: #fff;
    --background:none;
    background-color: #000000;
    --background-color: #000000;
    background: url(../../assets/img/Background.png) no-repeat 0 0;
    background-size: cover;
}

.background-image{
    --background: url('/assets/img/Background.png') 0 0/100% 100% no-repeat;
    background-size: cover;
}
.back_arrow {
    margin-top: 1.5em;
    margin-left: 1em;
}
.logo {
    margin: 0em 0em;
}
ion-input {
    border: 1px solid #fff;
    border-radius: 25px;
    --padding-bottom: 1em;
    --padding-top: 1em;
    --color: #fff;
    --padding-start: 1em;
    margin-top: 0.4em;
}
.bp {
    padding: 0em 15%;
}
.white {
    color: #fff;
}
ion-button {
    --padding-bottom: 1.45em;
    --padding-top: 1.45em;
    --box-shadow: none;
    font-size: 18px;
    text-transform: capitalize;
}
.parent_btn {
    margin: 0 1em;
}
.bb {
    border-bottom: 1px solid #fff;
}
.bb_top {
    margin: 18px 0px 0px;
}
.fb {
    --background: #3245b8;
    --padding-start: 1em;
    --padding-end: 1em;
    --border-radius: 25px;
}
.google {
    --background: #f04336;
    --padding-start: 1em;
    --padding-end: 1em;
    --border-radius: 25px;
}
.signup_text {
    margin-top: 30px;
}
.error {
    color: red;
    font-size: 12px;
}
@media only screen and(min-height : 700px) {
    .logo {
        margin: 3em 0em;
    }
    .bp{
        padding: 0% 15% 6% 15%;
    }
}