ion-toolbar {
    padding: 0em 0em 0 0;
    --background: #c4932f;
}

@media only screen and(min-height : 800px) {
    ion-toolbar {
        padding: 0em 0em 0px 0;
        --background: #c4932f;
    }
}

ion-toolbar:ios {
    margin-top: 6px;
}

ion-toolbar.ios {
    margin-top: 6px;
     
}

ion-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-left: 0px;
}
.notify {
    padding: 0.5em 0.5em;
}
.notify h4 {
    margin: 0px;
    font-size: 16px;
}
.notify p {
    margin: 0px;
    font-size: 12px;
}
.bg_grey {
    background: #f9f9f9;
}
.arrow_right {
    display: flex;
    justify-content: flex-end;
}
ion-item {
    --background: transparent;
    float: right;
}
ion-toggle {
    height: 22px;
    padding-right: 0px;
    padding-top: 0px;
}
ion-toggle.toggle-checked::part(track) {
    background: rgb(196 147 47) !important;
}
ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
}
