<ion-header [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/img/Menu.svg" (click)="toggleMenu()">
    </ion-buttons>
    <ion-title [class.globe_title]="plateformCheck == 'ios'">Change Password</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="ShowLoading" style="position: absolute; width: 100%; z-index: 9999;top: 8em;">
    <ion-col style="text-align: center;">
      <img style="width: 90px;" src="assets/img/Loader.gif">
    </ion-col>
  </ion-row>
  <ion-row class="bys">
    <ion-col *ngIf="!displayOLD" size="12">
      <ion-input type="password" placeholder="Old Password" class="input_list" [(ngModel)]="oldPassword" ></ion-input>
      <span *ngIf="oldPasswordError" class="error ion-padding">
        Old Password is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-input type="password" placeholder="New Password" class="input_list" [(ngModel)]="newPassword" ></ion-input>
      <span *ngIf="newPasswordError" class="error ion-padding">
        New Password is required.
      </span>
    </ion-col>
    <ion-col size="12">
      <ion-input type="password" placeholder="Confirm Password" class="input_list" [(ngModel)]="ConfirmPassword" ></ion-input>
      <span *ngIf="confirmPasswordError" class="error ion-padding">
        confirmPassword is required.
      </span>
      <span *ngIf="notSameError" class="error error-texxt">
        New and confirm passwords are not same
      </span>
    </ion-col>
    </ion-row>
  
    <ion-row >
      <ion-col size="2"></ion-col>
      <ion-col size="8">
        <ion-button color="primary" expand="block" shape="round" (click)="submitForm()">Save</ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col style="text-align: center;">
        <p class="error forgot" (click)="forgotPassword()">Forgot your password?</p>
      </ion-col>
    </ion-row> -->

</ion-content>
