ion-toolbar {
    padding: 0.8em 0.1em 0 0;
    --background: #c4932f;
}

@media only screen and(min-height : 800px) {
    ion-toolbar {
        padding: 3em 0.1em 8px 0;
        --background: #c4932f;
    }
}

ion-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-left: 0px;
}
.input_list {
    border: 1px solid #d4dce1;
    background: #f7f8fa;
    border-radius: 28px;
    font-size: 13px;
    color: #000;
    --placeholder-color: #b2b2b4;
    --padding-bottom: 1.5em;
    --padding-start: 1.5em;
    --padding-top: 1.5em;
    margin-top: 1em;
}

ion-button {
    --padding-bottom: 1.5em;
    --padding-top: 1.5em;
    --box-shadow: none;
}

.error-texxt{
    text-align: center;
    position: relative;
    top: 9px;
    left: 10px;
}
.bys {
    padding: 0em 1em 1.5em 1em;
    margin-top: 3em;
}

.error {
    color: red;
}
.forgot{
    position: absolute;
    width: 100%;
    top: -11px;
}
