<div
    
    [class.for_ios_pad]="plateformCheck == 'ios'"
    style="background: #000000f5; height: 100%"
  >
    <!-- <ion-row>
      <ion-col style="padding-left: 20px; padding-top: 20px">
        <img
          src="assets/img/close.png"
          (click)="closeModel()"
          style="height: 20px; width: 20px; padding: 3px; border-radius: 10px"
        />
      </ion-col>
    </ion-row> -->

    <ion-row class="center">
      <ion-col class="slider_main_slide" style="display: flex">
        <ion-slides >
          <ng-container >
            <ion-slide >
              <img src="https://app.transusdrives.com/uploads/vehicles/mycars_1653904596313.jpg" class="s_img_slide" />
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-col>
    </ion-row>

  
</div>