
<ion-content>
  <div style="padding: 10px !important;">
  <ion-row>
    <ion-col class="text-right">
      <img src="assets/img/minimize.svg" (click)="ok()">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="text-center" size="12">
      <h1 class="alura">Enter your offer</h1>
    </ion-col>
  </ion-row>
  <ion-col size="12">
    <ion-input type="number" placeholder="{{currency_symbol}}"  [(ngModel)]="price"  class="input_list ot_auto"></ion-input>
  </ion-col>
  <ion-row>
     <ion-col  size="6" class="ion-text-center">
      <ion-button color="primary" class="alura"  (click)="ok()" shape="round" expand="block">Cancel</ion-button>  
     </ion-col>
     <ion-col size="6" class="ion-text-center">
        <ion-button color="secondary" class="alura"  (click)="sendRequest()" shape="round" expand="block">Send</ion-button>  
    </ion-col>
  </ion-row>
  </div>
</ion-content>
