<ion-header
  *ngIf="showSlide == 'no'"
  [class.ios-headers]="plateformCheck == 'ios'"
>
  <ion-toolbar>
    <ion-buttons [class.back_button]="plateformCheck == 'ios'" slot="start">
      <img src="assets/img/Arrow.svg" (click)="goToHome()" />
    </ion-buttons>

    <ion-title [class.globe_title]="plateformCheck == 'ios'"
      >{{model_name}}</ion-title
    >

    <ion-buttons
      [class.share_btn]="plateformCheck == 'ios'"
      style="padding-right: 10px"
      slot="end"
      (click)="share()"
    >
      <img src="assets/img/share.svg" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="showSlide == 'no'">
    <ion-row>
      <ion-col class="slider_main">
        <ion-slides pager="true">
          <ng-container *ngIf="veh_imgs?.length >0">
            <ion-slide *ngFor="let p of veh_imgs; let i = index">
              <div class="slide">
                <img
                  (click)="previewImage(p)"
                  src="{{base_urls}}{{p}}"
                  class="s_img"
                />
                <div (click)="previewImage(p)" class="pentagon">
                  <img src="assets/img/pentagon.svg" style="    height: 65px;" class="" />
                  <div class="badge">
                    <span class="badge_dollar">{{currency_symbol}}</span>
                    <span class="badge_price">{{charge_per_day}}</span>
                    <span class="badge_per">PER DAY</span>
                  </div>
                </div>
                <div class="heart">
                  <img
                    src="assets/img/heart.svg"
                    class=""
                    (click)="favourite('add_fav',cars_list_result.vehicles_id)"
                    *ngIf="favouriteVehicle == false"
                  />
                  <img
                    src="assets/img/heart_red.svg"
                    class=""
                    (click)="favourite('remove_fav',cars_list_result.vehicles_id)"
                    *ngIf="favouriteVehicle"
                  />
                </div>
              </div>
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="descr">
        <h3>Description</h3>
        <p>{{description}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="descr">
        <h3>Owner’s Details</h3>
        <ion-row>
          <ion-col size="6" style="padding-left: 0px">
            <small>About</small>
            <p>{{about_owner}}</p>
          </ion-col>
          <ion-col size="6">
            <small>Availability start date</small>
            <p>{{availablityStartDate}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" style="padding-left: 0px">
            <small>Lives</small>
            <p>{{country_name}}</p>
          </ion-col>
          <ion-col size="6">
            <small>Availability end date</small>
            <p>{{availablityEndDate }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" style="padding-left: 0px">
            <small>Work</small>
            <p>{{owner_work}}</p>
          </ion-col>
          <ion-col size="6">
            <small>Language</small>
            <p>{{language_name}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" style="padding-left: 0px">
            <small>Advance notice</small>
            <p>{{advance_notice}}</p>
          </ion-col>
          <ion-col size="6">
            <small>Max trip duration</small>
            <p>{{max_trip_duration}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" style="padding-left: 0px">
            <small>Min trip duration</small>
            <p>{{min_trip_duration}}</p>
          </ion-col>
          
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="rating">
      <ion-col size="6">
        <h3>Ratings</h3>
      </ion-col>
      <ion-col size="6">
        <h3 (click)="ratingview()" class="view_all">View All</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="stars">
        <p class="star_list" *ngIf="ratting_stars === '5'">
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
        </p>
        <p class="star_list" *ngIf="ratting_stars === '4'">
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/grey_star.svg" />
        </p>
        <p class="star_list" *ngIf="ratting_stars === '3'">
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/grey_star.svg" />
          <img src="assets/img/grey_star.svg" />
        </p>
        <p class="star_list" *ngIf="ratting_stars === '2'">
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/grey_star.svg" />
          <img src="assets/img/grey_star.svg" />
          <img src="assets/img/grey_star.svg" />
        </p>
        <p class="star_list" *ngIf="ratting_stars === '1'">
          <img src="assets/img/yellow_star.svg" />
          <img src="assets/img/grey_star.svg" />
          <img src="assets/img/grey_star.svg" />
          <img src="assets/img/grey_star.svg" />
          <img src="assets/img/grey_star.svg" />
        </p>
        <span class="left_star">{{total_trips}} trips</span>
      </ion-col>
    </ion-row>
    <ion-row class="btn_footer">
      <!-- <ion-col size="6">
        <ion-button color="primary" (click)="chatRequest()" expand="block" shape="round">Chat</ion-button>
      </ion-col> -->
      <ion-col size="12">
        <ion-button
          color="secondary"
          (click)="bookNow()"
          expand="block"
          shape="round"
          >Book Now</ion-button
        >
      </ion-col>
    </ion-row>
  </div>

  <div
    *ngIf="showSlide == 'yes'"
    [class.for_ios_pad]="plateformCheck == 'ios'"
    style="background: #000000f5; height: 100%"
  >
    <ion-row>
      <ion-col style="padding-left: 20px; padding-top: 20px">
        <img 
          src="assets/img/close.png"
          (click)="closeModel()"
          style="height: 20px; width: 20px; padding: 3px; border-radius: 10px"
        />
      </ion-col>
    </ion-row>

    <ion-row class="center">
      <ion-col class="slider_main_slide" style="display: flex">
        <ion-slides (ionSlideDidChange)="slideChanged($event)" #slides>
          <ng-container *ngIf="veh_imgs.length >0">
            <ion-slide *ngFor="let p of veh_imgs; let i = index">
              <img src="{{base_urls}}{{p}}" class="s_img_slide" />
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row
      style="position: absolute; text-align: center; bottom: 80px; width: 100%"
    >
      <ion-col style="text-align: center">
        <ion-text style="color: white"
          >{{indexOfSLide}} of {{veh_imgs.length}}</ion-text
        >
      </ion-col>
    </ion-row>
  </div>

  <!-- <ion-row class="info">
    <ion-col class="ion-text-center" (click)="info()">
      <img src="assets/img/info.svg">
      <p>Further Details</p>
    </ion-col>
  </ion-row> -->
  <!--  <ion-row class="info">
    <ion-col class="ion-text-center" (click)="info()">
      <img src="assets/img/info.svg">
      <p>Further Details</p>
    </ion-col>
  </ion-row> -->
</ion-content>
<ion-footer>
  <ion-row class="info">
    <ion-col class="ion-text-center" (click)="info()">
      <img src="assets/img/info.svg" />
      <p>Further Details</p>
    </ion-col>
  </ion-row>
</ion-footer>
