ion-toolbar {
  // padding: 0.8em 0.1em 0 0;
  --background: #c4932f;
}

@media only screen and(min-height : 800px) {
  ion-toolbar {
    padding: 3px 1px 8px 0;
    --background: #c4932f;
  }
}

ion-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.slider_main {
  padding: 1em 0.6em;
}
.s_img {
  width: 100%;
  border-radius: 14px;
  height: 180px;
}
.slide {
  width: 100%;
}

.slider_main_slide {
  padding: 0em 0em;
}
.s_img_slide {
  width: 100%;
  border-radius: 0px;
}
.slide_slide {
  width: 100%;
}
.pentagon {
  position: absolute;
  top: 12px;
  left: 12px;
}

.badge {
  position: absolute;
  top: 14px;
  left: 0px;
  right: 0px;
  line-height: 1.3;
}
.badge_dollar {
  color: #c4932f;
    font-size: 13px;
    display: block;
}
.badge_price {
  font-size: 13px;
    color: #c4932f;
    position: relative;
    top: -9px;
}
.badge_per {
  color: #fff;
  font-size: 8px;
  display: block;
  margin-left: 1px;
  margin-top: -11px;
}
.descr {
  padding: 0em 0.6em;
}
.descr h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.descr p {
  font-size: 12px;
  margin-top: 0px;
}
.descr small {
  color: #c4932f;
}
.rating {
  padding: 0em 0.3em;
}
.view_all {
  font-size: 10px;
  text-align: right;
  padding-right: 1em;
  color: #c4932f;
  padding-top: 1em;
}
.stars img {
  margin-left: 4px;
}
.left_star {
  margin-left: 1em;
}
ion-button {
  --padding-bottom: 1.5em;
  --padding-top: 1.5em;
  --box-shadow: none;
}
.btn_footer {
  padding: 0.5em 1em 1.2em 1em;
  margin-bottom: 2.5em;
}
.info {
  background: #6e6d6d;
  padding: 0.4em 0em;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.info p {
  margin: 0px;
  color: #fff;
  font-size: 10px;
}
.heart {
  position: absolute;
  right: 1em;
  top: 1.3em;
  z-index: 10;
}
.heart img {
  z-index: 9999;

  width: 24px;
}
.toolbar_padding {
  padding: 6px;
}
.for_ios_pad {
  padding: 8px 0px;
}
