ion-toolbar {
    padding: 0.8em 0.1em 0 0;
    --background: #c4932f;
}

@media only screen and(min-height : 800px) {
    ion-toolbar {
        padding: 3em 0.1em 8px 0;
        --background: #c4932f;
    }
}




ion-title{
    text-align: center;
    color: #fff;
    font-size: 24px;
}
ion-button{
    --padding-bottom: 1.5em;
    --padding-top: 1.5em;
    --box-shadow: none;
    text-transform: capitalize;
}
ion-content{
    --background: #F7F8FA;
}
.list_1{
    padding: 0em 1em;
}
.list_1 h3{
    margin: 0px;
    margin-top: 0.5em;
}

.left_4{
    margin-left:0.7em !important;
}
.input_list{
    border: 1px solid #d4dce1;
    background: #F7F8FA;
    border-radius: 28px;
    font-size: 13px;
    color: #d4dce1;
    --padding-bottom: 1.5em;
    --padding-start: 1.5em;
    --padding-top: 1.5em;
}
.upload_images{
    color:#C4932F;
    font-size: 12px;
    margin: 5px 0px;
}
.list_2{
    text-align: center;
    background: #F7F8FA;
    border: 1px dashed #D4DCE1;
    border-radius: 10px;
    padding: 5.5em 0em;
   // padding: 25% 0em 23% 0em;
}
.list_2 p{
    color: #d2d6d8;
}
.list_3{
    background: #F7F8FA;
    border: 1px solid #D4DCE1;
    border-radius: 10px;
    color: #D4DCE1;
    font-size: 13px;
    --padding-start: 1.5em;
    --padding-top: 1.5em;
}
.btn_footer{
    margin: 0.7em 0em 1em 0em;
}
ion-slide span{
    border: 1px solid #000;
    border-radius: 22px;
    padding: 8px 14px;
    margin-left: 1em;
}
.num{
    padding: 9px 10px !important;
}
.calender_slider{
    padding: 0.6em 0em;
    background: #fff;
}
.calender_slider_text{
    margin: 0px;
    position: relative;
    top: -2px;
    font-size: 18px;
}
ion-slide{
    margin-left: 0.6em;
    
}
ion-slide:first-child{
    margin-left: 0em;
}
.btn_footer{
    padding: 0.5em 1em 1.2em 1em;
}
.info{
    background: #6E6D6D;
    padding: 0.4em 0em;
}
.info p{
    margin: 0px;
    color: #fff;
    font-size: 10px;
}

.tog_main{
    background: #F9F9F9;
    padding: 0em 0.3em;
}
.tog1{
    font-size: 13px;
    color: #272727;
}
.tog1 h4{
    margin:0px;
}
.tog1 p{
    margin:0px;
    margin-left: 4%;
    margin-top: 5%;
    font-size: 14px;
}
ion-toggle.toggle-checked::part(track)  {
    background: rgb(196 147 47) !important;
}
ion-item{
    --background: transparent;
    float: right;
}
.vertical_list{
    text-align: center;
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    padding:0em 6px;
}
.vertical_list p {  
    //margin: 0px;
}
.vertical_slider ion-slide{
    margin-left: 0em !important;
    color:#B0B0B0;
    border-top: 1px solid #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    font-size: 16px;
    /* padding: 1em 0em; */
    
}

.vertical_slider ion-slide.swiper-slide-active{
    color:#000 !important;
    font-size: 18px !important;
}
.bg_white{
    padding: 0.6em 0em;
    background: #fff;
}
.activeState{
    background: #c4932f;
    border: 1px solid #c4932f !important;
    color: #fff !important;
}
.error{
    color:red;
}
.imgh{
    width: 100%;
    height: 12em;
    border-radius: 10px;
}
.activeEndState{
    background: #c4932f;
    border: 1px solid #c4932f !important;
    color: #fff !important; 
}
.sz{
    font-size: 12px;
    margin: 0px;
}
.current_cost{
    display: flex;
    grid-gap: 23px;
    align-items: center;
}