

ion-button{
    --padding-bottom: 1.5em;
    --padding-top: 1.5em;
    --box-shadow: none;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.m_0{
    margin:0px;
    padding: 0em 2%;
}

.select_color{
    border: 1px solid #000;
    border-radius: 25px;
    padding: 12px 12px;
}
h1{
    color:#1A6BBE;
    margin-top:0px;
}
ion-item{
    border: 1px solid #d4dce1;
    text-align: center;
    border-radius: 40px;
    --background: #F7F8FA;
    --color: #d4dce1;
    margin: 0em 0.3em;
}
.btn_top{
    margin: 0.7em 1em;
}
.check_veh{
    display: flex;
    justify-content: center;
}