<ion-header [class.ios-headers]="plateformCheck == 'ios'">
  <ion-toolbar>
    <ion-buttons class="mf" slot="start">
      <img src="assets/img/Menu.svg" class="mleft" (click)="toggleMenu()" />
    </ion-buttons>
    <ion-title [class.globe_title]="plateformCheck == 'ios'"
      >Earnings</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wallet_main">
    <ion-row class="wallet_inner">
      <ion-col size="6">
        <p class="dark_p_color">Wallet Balance</p>
        <h3 class="dark_p_color">{{currency_symbol}}{{wallet_amount | number}}</h3>
      </ion-col>
      <ion-col size="6">
        <ion-button   *ngIf="wallet_amount > 0"
          color="secondary"
          expand="block"
          shape="round"
          (click)="withdrawRequest()"
          >Withdraw</ion-button
        >

        <ion-button *ngIf="wallet_amount == 0"
       style="color: white;
       --background: #77afff;"
        expand="block"
        shape="round"
        (click)="earntoWithdraw()"
        >Withdraw</ion-button
      >

        
      </ion-col>
    </ion-row>
  </div>

  <ion-row class="graph_main">
    <ion-col size="12" class="graph_inner">
      <div style="display: block">
        <canvas
          baseChart
          height="350"
          [colors]="chartColors"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </ion-col>
  </ion-row>
  <p style="padding-left: 25px;">All Transactions</p>
  <div class="total_main alura">
    <ion-row>
      <ion-col size="6">Earnings</ion-col>
      <ion-col size="6" class="ion-text-right"
        >{{currency_symbol}}{{total_earning}}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size="6">Trip Earnings</ion-col>
      <ion-col size="6" class="ion-text-right"
        >{{currency_symbol}}{{total_trip_cost}}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size="6">Commission</ion-col>
      <ion-col size="6" class="ion-text-right"
        >{{currency_symbol}}{{total_tax}}</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size="6">Total bookings</ion-col>
      <ion-col size="6" class="ion-text-right">{{totalBookings}}</ion-col>
    </ion-row>
  </div>






 <div *ngIf="transactionDetails.length > 0">
  
  <p style="padding-left: 25px;">Recent Transactions</p>
  <div *ngFor="let trans of transactionDetails; let i = index ">
    <div class="total_main alura"  *ngIf="i<3">
        <ion-row>
          <ion-col size="6">Earnings</ion-col>
          <ion-col size="6" class="ion-text-right"
            >{{currency_symbol}}{{trans.topup_amount}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col size="6">Trip Earnings</ion-col>
          <ion-col size="6" class="ion-text-right"
            >{{currency_symbol}}{{trans.trip_cost}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col size="6">Commission</ion-col>
          <ion-col size="6" class="ion-text-right"
            >{{currency_symbol}}{{trans.tax_amount}}</ion-col
          >
        </ion-row>
      
    </div>
  </div>
 </div>
</ion-content>
